.discover {
    width: 100vw;
    padding: 15rem 7.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    &__content {
        flex-basis: 40%;

        * {
            margin: 0 auto;
            font-size: 1.8rem;
            font-weight: bolder;
        }

        &__name {
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        &__title {
            color: $black;
            font-size: 3.5rem;
            line-height: 1.15;
        }

        &__description {
            font-weight: lighter;
            color: $another-grey;
            margin: 1.75rem auto 3.5rem auto;
            line-height: 1.35;
        }

        &__button {
            padding: 1.5rem 2.5rem;
            background: $seafoam-blue;
            border-radius: 1000rem;
            color: #fff;
            text-align: center;
        }
    }

    &__illustration {
        flex-basis: 55%;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__shape {
        position: absolute;
        right: 0;
        z-index: -2;

        img {
            height: 57.5rem;
        }
    }
}

.discover_reverse {
    flex-direction: row-reverse !important;
}

.discover__shape_reverse {
    position: absolute;
    left: 0 !important;
    z-index: -2;

    img {
        height: 57.5rem;
    }
}